# Ignore local environments during development and usage
neuro-sdk
neuro-api-jippity
neuro-api-tony

# Python packagees
.venv
.vscode
__pycache__

# bin/ stuff
node_modules
*.exe
*.log
logs/

backups/